@model igoryen2.Models.Cancellation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cancellation</h4>
	<hr />
    <dl class="dl-horizontal">

        @if (User.IsInRole("Admin")) {
            <dt>
                Faculty
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Creator.UserName)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.CourseCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CancellationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
