@model igoryen2.ViewModels.CourseCreateForHttpGet

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CourseCreateForHttpGet</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.CourseCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CourseCode)
                @Html.ValidationMessageFor(model => model.CourseCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CourseName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CourseName)
                @Html.ValidationMessageFor(model => model.CourseName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RoomNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RoomNo)
                @Html.ValidationMessageFor(model => model.RoomNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateStart, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateStart)
                @Html.ValidationMessageFor(model => model.DateStart)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateEnd, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateEnd)
                @Html.ValidationMessageFor(model => model.DateEnd)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Faculty</label>
            <div class="col-md-10">
                @Html.DropDownList("FacultyId", Model.SelectListOfFaculty)
                @Html.ValidationMessageFor(model => model.SelectListOfFaculty)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Students</label>
            <div class="col-md-10">
                @Html.ListBox("StudentId", Model.SelectListOfStudent)
                @Html.ValidationMessageFor(model => model.SelectListOfStudent)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
